html                  { font-family:arial,sans-serif; }
body                  { margin:0; padding:10px; font-family:arial,sans-serif; align:center;  background-color:#ffffff; }



a, a:visited, a:link, a:active
                      { color:#666666; text-decoration:none; }
a:hover               { text-decoration:underline; }

/* VYM specific elements*/

.vym-header{ 
	width:96%; 
	padding:2%; 
	margin-bottom:10px; 
	border:solid 1px black; 
	background-color:#f0f0f0; 
	text-align:center; 
	vertical-align:center;
	font-size: 2em;
}
.vym-imagemap{
	width:96%; 
	padding:2%; 
	margin-bottom:10px; 
	border: 0px; 
	text-align:center; 
	vertical-align:center;
}
.imagemap{
	border: 0px; 
}
.vym-BoxBottom { 
	padding:10px; 
	font-size:0.7em; 
	border:solid 1px black; 
	margin:0; 
	background-color:#f0f0f0; 
}
.vym-BoxBottomR		
{ 
	padding-top:1em; 
	color:#676767; 
	text-align:right; 
}
.vym-footer { 
	width:100%; 
	border:1;
}
.vym-footerL { font-size:0.7em; color:#676767; text-align:left; }
.vym-footerC { font-size:0.7em; color:#676767; text-align:center; }
.vym-footerR { font-size:0.7em; color:#676767; text-align:right; }

.vym-url {} 

.vym-branch0 { 
	color:#000000;  
	font-size: x-large;
	font-weight: bold;
}
.vym-branch1{
	font-size: normal;
	font-weight: normal;
}
.vym-branch2{
	font-size: small;
	font-weight: normal;
}
.vym-branch3{
	font-size: small;
	font-weight: normal;
}
.vym-branch4{
	font-size: small;
	font-weight: normal;
}
.vym-branch5{
	font-size: small;
	font-weight: normal;
}
.vym-branch6{
	font-size: small;
	font-weight: normal;
}
.vym-branch7{
	font-size: small;
	font-weight: normal;
}

.vym-note { 
	width:100%; 
	border: solid 1px black; 
	border-color: #000000;
	background-color: #eeeeee; 
	font-size: small;
	font-weight: normal;
}

.standardflag { 
	margin-left: 5px; 
}

